@{
    ViewBag.Title = "INICIO";
}

<link href="~/Content/jquery.jdSlider.css" rel="stylesheet" />
<link href="~/Content/jquery.pano.css" rel="stylesheet" />
<link href="~/css/jquery.jdSlider.css" rel="stylesheet" />
<link href="~/css/jquery.pano.css" rel="stylesheet" />
<link href="~/css/jquery.pano.css" rel="stylesheet" />



<main class="container ">
    <br />
    <br />
    <br />
    <br />
    <div class="row mt-5">
        <div class="col-6 col-md-3">
            <div class="card ">
                <p>Inventario</p><img src="~/Imagenes/inventario.png" class="img-fluid" width="236" height="216" />
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cantidad de Productos: </li>
                    </ul>


                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card ">
                <p>Clientes</p><img src="~/Imagenes/clientes.png" class="img-fluid" width="236" height="216" />
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cantidad de Clientes: </li>
                    </ul>


                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card ">
                <p>Proveedores</p><img src="~/Imagenes/proveedor.png" class="img-fluid" width="236" height="216" />
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cantidad de Proveedores: </li>
                    </ul>


                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card ">
                <p>Empleados</p><img src="~/Imagenes/empleados.png" class="img-fluid" width="236" height="216" />
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cantidad de Empleados: </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</main>


<script src="~/js/jquery.slim.js"></script>
<script src="~/js/tether.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.pano.js"></script>



